html{
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.table{
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.main_header{
  background-color: #DEE2E6;
  width: 100%;
  color: #6B6C6D;
}

.headers th{
  padding: 10px;
  text-align: left;
  padding-left: 40px;
}

.body td{
  padding-left: 40px;
  padding-bottom: 15px;
}

.t_body{
    color: #6B6C6D;
}

.entregue{
  background-color: #28a745;
  border-radius: 5px;
  color: white;
  margin-top: 10%;
  text-align: center;
  padding: 5px;

}

.cancelado{
  background-color: #E82431;
  border-radius: 5px;
  color: white;
  margin-top: 10%;
  text-align: center;
  padding: 5px;
}

.pendente{
  background-color: #007bff;
  border-radius: 5px;
  color: white; 
  margin-top: 10%;
  text-align: center;
  padding: 5px;
}

.font_item1{
  color: #007bff;
}

.font_item2{
  color: #fddf4c;
}

.font_item3{
  color: #E82431;
}
